<div class="bloco borda-lateral" 
      [ngStyle]="{'border-color': 'rgba('+coresCompartilhadas.corSecundaria[0]+','+coresCompartilhadas.corSecundaria[1]+','+coresCompartilhadas.corSecundaria[2]+', 0.37)'}">
  <h1 class="borda-lateral" 
      [ngStyle]="{
        'border-color': coresCompartilhadas.getTextoRGBSecundario(),
        'color': coresCompartilhadas.getTextoRGBPrincipal()
      }"
      >Olá e bem vindo!</h1>
  <p>Meu nome é Rielisson Joseff, mas prefiro ser conhecido como Joseff Costa.</p>
  <p>Tenho duas paixões quando se trata de ciências, estudos e conhecimento. Essas paixões são a Psicologia e a Inteligência Artificial.</p>
  <p>Tenho a intenção de direcionar meus estudos pessoais para a área de <abbr title="Inteligência Artificial" [ngStyle]="{'border-color': 'rgba('+coresCompartilhadas.corSecundaria[0]+','+coresCompartilhadas.corSecundaria[1]+','+coresCompartilhadas.corSecundaria[2]+', 0.37)'}">IA</abbr> e, de alguma forma, integrá-los à Psicologia. Isso não só me permitirá aprofundar meus conhecimentos em <abbr title="Inteligência Artificial" [ngStyle]="{'border-color': 'rgba('+coresCompartilhadas.corSecundaria[0]+','+coresCompartilhadas.corSecundaria[1]+','+coresCompartilhadas.corSecundaria[2]+', 0.37)'}">IA</abbr>, mas também contribuir para o avanço da Psicologia.</p>
</div>

<div class="bloco borda-lateral" 
      [ngStyle]="{'border-color': 'rgba('+coresCompartilhadas.corSecundaria[0]+','+coresCompartilhadas.corSecundaria[1]+','+coresCompartilhadas.corSecundaria[2]+', 0.37)'}">
  <h1 class="borda-lateral"
      [ngStyle]="{
        'border-color': coresCompartilhadas.getTextoRGBSecundario(),
        'color': coresCompartilhadas.getTextoRGBPrincipal()
      }"
  >Sobre este portfolio</h1>

  <p>
    Esta é a minha segunda tentativa, de muitas outras que ainda virão, de expressar minha criatividade (ou pelo menos tentar). A ideia era aprender Angular e, ao mesmo tempo, colocar em prática os conceitos que eu ia descobrindo, sem depender de um design pré-existente. Meu plano era fluir (e tentar extrair algumas ideias).
  </p>
  <p>
    O portfólio inteiro foi desenvolvido em Angular, o que se alinha perfeitamente com o conceito artistico deste portfólio. A abordagem de Single Page Application (SPA) está sendo aplicada aqui, nesta seção que você está lendo, junto com a idéia de um portfolio fixo e contínuo.
  </p>
</div>

<div class="bloco borda-lateral" 
      [ngStyle]="{'border-color': 'rgba('+coresCompartilhadas.corSecundaria[0]+','+coresCompartilhadas.corSecundaria[1]+','+coresCompartilhadas.corSecundaria[2]+', 0.37)'}">
  <h1 class="borda-lateral" 
      [ngStyle]="{
        'border-color': coresCompartilhadas.getTextoRGBSecundario(),
        'color': coresCompartilhadas.getTextoRGBPrincipal()
      }"
  >Por que Computação?</h1>

  <p>
    Sempre fui um jovem muito criativo, passava horas inventando novas brincadeiras, criando novas formas de imaginar, novos universos e novas histórias. Isso me levava a passar horas em jogos, fossem eles eletrônicos (quando eu tinha a sorte de tê-los) ou a recriar jogos eletrônicos em papel, como <a href="https://www.ageofempires.com/" [ngStyle]="{'color': 'rgba('+coresCompartilhadas.corPrincipal[0]+','+coresCompartilhadas.corPrincipal[1]+','+coresCompartilhadas.corPrincipal[2]+')'}">Age of Empires</a> ou <a href="https://www.aq.com/" [ngStyle]="{'color': 'rgba('+coresCompartilhadas.corPrincipal[0]+','+coresCompartilhadas.corPrincipal[1]+','+coresCompartilhadas.corPrincipal[2]+')'}">Adventure Quest Words</a>, por exemplo.
    A criatividade e o fascínio por jogos me levaram a buscar como criar jogos, o que me proporcionou horas de diversão e também algumas dores de cabeça. Foi nesse momento que tive meu primeiro contato com programação... C#. Desde então, uma sementinha foi plantada, e até hoje ela continua a crescer.
  </p>
</div>